html{
    font-family:'Courier New'
}
body{
    background-color: whitesmoke;
}
label {
    display: inline-block;
    padding-right: 5px;
    width: 100px;
    text-align: left;
}
li{
    position: relative;
    left: 100px;
}

h1{
    text-align: center;
}
h2{
    position: relative;
    left: 150px;
}
.aboutMeBox{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.imgCont{
    margin: auto;
    width: 50%;
    border: 3px solid green;
}
.row {
    display: flex;
    margin: auto;
    width: 50%;
    border: 3px solid green;
  }
  
  .column {
    flex: 50%;
  }
  .myList{
      display: grid;
  }
  .myListItem{
    display: inline-block;

  }
  progress{
      background-color: #f3f3f3;
      color: darkgreen;
      border: 0;
      height: 20px;
      width: 40%;
      border-radius: 20px;
  }

  @media screen and (max-width: 800px) {
    .myListItem {
      display: grid;
    }
}